.DS_Store
Modules/.build/
Modules/Packages
xcuserdata/
DerivedData/
Modules/.swiftpm/configuration/registries.json
Modules/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
Modules/Sources/Networking/Generated/Environment.swift